#menu
	 {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: turquoise;
		color: white;
		padding: 10px;
		font-size: 24px;
		text-align: right;
		direction: rtl;
	  }
body
{
	background-color: beige;
}
#welcome
{
	position:static;
	padding: 20px;
	margin: 60px;
	

}
.image-container {
	position: relative;
  }
  
  .image-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	color: turquoise;
	text-align: center;
  }
section
{
	text-align: right;
	font-size: 18px;
	direction: rtl;
}
h1
{
	font-size: 26px;
	text-align: center;
	color: turquoise;
	

}
#playlist
{
	text-align: center;
	align-items: center;
	align-self: center;
}
#like
{
	text-align: center;
	
}
#qrcoder
{
	align-items: center;
	text-align: center;
}
#realabout
{

	background-color: blanchedalmond;
	font-size: 24px;
	word-wrap: break-word;
	width: 70%;
	text-align: right;
	align-items: center;
	float: right;
	margin: 10px;
	padding: 20px;
}
#contactme
{
	text-align: right;
	text-emphasis:inherit;
	color: tomato;
}
label
{
	font-size: larger;
}
#submit
{
	color: tomato;
	width: 70px;
	height: 32px;
}
#spa
{
	text-align: right;
	direction: rtl;
}
ol
{
	text-align: right;
}
li
{
	text-align: right;
	align-content: right;
}
form {
	width: 500px;
	margin: 0 auto ;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
  }
  
  label {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
	width: 80%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 20px;
	font-size: 16px;
  }
  
  input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
  }
  
  input[type="submit"]:hover {
	background-color: #45a049;
  }
  
  input[type="submit"]:focus {
	outline: none;
  }
  #emoji-btn {
	font-size: 1.5rem;
	margin-left: 5px;
  }


